/** { margin: 0; padding: 0;}*/

/*body { font: normal 13px/18px helvetica, Arial; color: #111; background: #f9f9f9;}*/
h1,h2,h3 { font-family: georgia; font-weight: normal;}
h1 { line-height: 1em; margin-bottom: 1em;}
h2 { line-height: 1.8em;}
p { line-height: 1.5em; margin-bottom: 15px;}
a, a:visited { color: #21759b; text-decoration: none;}
a:hover { text-decoration: underline;}
.container { }

.right { width: 49%; float: right; text-align: right;}
.left { width: 49%; float: left; text-align: left;}

/**
	Header
**/
.header {overflow: hidden; background: #464646; padding: 1em 1.5em; color: #eee;}
.header h1 { line-height: 1em; margin: 0;}
.header ul { list-style: none; float: right;}
.header ul li { float: left; padding: 0 1em; border-right: 1px solid #999;}
.header ul li.last { border: 0; padding-right: 0;}
.header a,.header a:visited { color: #ddd; text-decoration: underline;} 
.header a:hover { color: #fff; text-decoration: underline;}

.topmenu { }
.content { overflow: hidden; margin: 1.5em;}
.content_left { width: 10%; float: left; min-width: 100px;}
.content_right { width: 88%; float: right;}

/**
	Sidebar
**/
.sidebar { min-width: 120px;}
.sidebar .menu {background: #f1f1f1; border: 1px solid #e3e3e3; border-radius:5px; -moz-border-radius:5px; /* Firefox */ -webkit-border-radius:5px; /* Safari y Chrome */ margin-bottom: 10px;}
.sidebar ul { list-style: none;}
.sidebar ul li {  border-bottom: 1px solid #e3e3e3; border-top: 1px solid #fff;}
.sidebar ul li a { display: block; padding: 0.5em 1em ; }
.sidebar ul li a:hover { text-decoration: none; background: #e6e6e6;}
.sidebar ul li.last { border-bottom: none;}
.sidebar ul li.first { border-top: none;}
.sidebar ul li ul {background: #fff; border-top: 1px solid #e6e6e6;}
.sidebar ul li ul li{  padding: 0.5em 1em; border: 0;}
.sidebar ul li ul a { display: inline; padding: 0;}
.sidebar ul li ul a:hover { background: none; text-decoration: underline;}


.main { min-height: 500px; }
.submenu { margin-bottom: 10px; overflow: hidden;}

.box { border: 1px solid #ddd; padding: 10px; width: 47%; overflow: hidden;}
.box.right { text-align: left;}
.box ul{ list-style: none;}
.box ul li { border-bottom: 1px solid #eee; padding: 3px 0;}
/**
	Footer
**/
.footer { clear: both; border-top: 1px solid #eee; }

/** Forms **/
.formleft { width: 68%; float: left;}
.formright { width: 28%; float: right; border-left: 1px solid #bbb; padding-left: 1em; min-height: 400px;}
.fullsize {width: 100%;}
input, textarea {font-size: 13px; }
input { padding: 1px 2px; }
label { font-weight: bold;}
p.submit { background: #eee; padding: 0.5em; clear: both;}

/** 
	Tables 
**/
.grid { width: 100%; border-collapse: collapse; border: 1px solid #e3e3e3; color: #555;}
.grid th { background: #ebebeb; }
.grid td, .grid th { text-align: left; padding: 0.5em;}
.odd {}
.even {background: #f6f6f6; border-top: 1px solid #e6e6e6; border-bottom: 1px solid #e6e6e6;}
.grid td { font-size: 0.9em; vertical-align: top;}
.grid td.title { font-size: 1em; font-weight: bold;}
.grid .options { width: 150px; text-align: right; font-size: 0.9em; color: #666; font-weight: normal;}
/** Errors **/
.errorExplanation { background: #fffba9; padding: 1em; margin-bottom: 1em;}
.errorExplanation h2 {}
.errorExplanation ul { margin-left: 2em;}

/***.notice, .error { color: #fff; padding: 5px; margin: 1em 0;}
.notice { background: green; }
.error { background: #ff6666;}***/

/***
	Images
***/
ul#images { list-style: none; overflow: hidden;}
ul#images li { float: left; border: 1px solid #ddd;  height: 200px; padding: 10px; margin: 0 10px 10px 0; text-align: center; vertical-align: center;}
ul#images li img { max-width: 200px; max-height: 185px;}
ul#images li:hover { cursor: move; }
/**
	Pagination
**/
.pagination { text-align: center; margin-top: 2em;}

/** Drag&Drop **/
li .handle {
  font-size: 12px;
  cursor: move;
  color: #777;
}