html, body {
    height: 100%;
    background-repeat: repeat;
    background-color:#f5f5f5;
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -4em;
}

.footer, .push {
    height: 4em;
}

body {
    color: gray;
    margin: 0;
    padding: 0;
    font-family: 'Lucida Grande', 'Trebuchet MS', Arial, Helvetica, sans-serif;
}

img {
    border-width: 0;
}


table.noborder td {
    border: 0;
}

table.nopad td {
    padding-left: 0;
}

table.users {
    border-collapse: collapse;
    font-family: 'Lucida Grande', Tahoma, Arial, Helvetica, sans-serif;
}

table.users wide {
    width: 100%;
}

table.users tr th {
    background: #333;
    color: white;
    font-size: 0.8em;
    padding: 3px 10px;
    border: 1px solid #222;
}

table.users tr td {
    padding: 7px;
    border: 1px solid #ddd;
}

#headmenu {
    display: block;
    background-color: #172322;
    border-top: 1px solid gray;
    height: 40px;
    color: white;
    width: 100%;
    min-width: 960px;
    clear: both;

}

#error {
    border: 1px solid #ff3333;
    padding: 1em;
    margin: 1em;
    margin-bottom: 0.8em;
    background-color: #ffcccc;
    font: bold smaller sans-serif; /*border: 2px silver;*/
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -opera-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
}

#alert {
    border: 1px solid #ff3366;
    padding: 1em;
    margin: 1em;
    margin-bottom: 0.8em;
    background-color: #ffcccc;
    font: bold smaller sans-serif; /*border: 2px silver;*/
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -opera-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
}

#footer {

    border: 1px solid gray;
    background-color: #e5e5e6; /*text-align:center;*/
    min-width: 960px;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.footernav {
    border: 0px solid gray;
    background-color: #e5e5e6;
    font-variant: small-caps;
    font-weight: bolder;
    width: 100%;
    min-width: 960px;
}

.footernav ul {

    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden; /*width:110px;*/
    font-weight: bold;
    color: #FFFFFF;
    text-align: center; /*padding:4px;*/
    text-decoration: none;
    text-transform: uppercase;

}

.footernav li {
    padding: 25px;
    display: inline-block;
    zoom: 1;
    *display: inline;
}

.footernav a, .footernav a:visited {
    display: block;
    font-weight: normal;
    color: #000000;
    font-size: small;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -opera-border-radius: 8px;
    -khtml-border-radius: 8px;
    border-radius: 8px;
}

.footernav a:hover {
    color: #000000;
}

.footertext {
    font-size: x-small;
    display: block;
}


#projnav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 2px silver;
    -moz-border-radius: 8px 8px 0px 0px;
    -webkit-border-radius: 8px 8px 0px 0px;
    -opera-border-radius: 8px 8px 0px 0px;
    -khtml-border-radius: 8px 8px 0px 0px;

}

#projnav span ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

}

#projnav li {
    float: left;
    padding: 2px;

}

#projnav span li {
    float: left;
    padding: 2px;

}


#projnav a {
    display: block;
    width: 120px;
    height: auto;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #000000;
    text-align: center;
    font-size: 8pt;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;
    border: 2px silver;
    -moz-border-radius: 8px 8px 0px 0px;
    -webkit-border-radius: 8px 8px 0px 0px;
    -opera-border-radius: 8px 8px 0px 0px;
    -khtml-border-radius: 8px 8px 0px 0px;
    border-radius: 8px 8px 0px 0px;

}

#projnav span a {
/*display:block;*/
    width: 200px; /*height:16px;*/
    font-weight: bold;
    color: #000000;
    background-color: #ffffff;
    font-size: 16pt;
    padding: 5px;
    text-decoration: none;
    text-transform: uppercase;

}

#projnav a:link img, #projnav a:hover img, #projnav a:active img {
    border: none;
    background-color: #e5e5e6;
    border: 2px silver;
    -moz-border-radius: 8px 8px 0px 0px;
    -webkit-border-radius: 8px 8px 0px 0px;
    -opera-border-radius: 8px 8px 0px 0px;
    -khtml-border-radius: 8px 8px 0px 0px;
    border-radius: 8px 8px 0px 0px;

}

#projnav span a:link img, #projnav span a:hover img, #projnav span a:active img {
    border: none;
    background-color: #ffffff;

}

#projnav a:hover, #projnav a:active {
/*background-color:#ffffff;*/
    background-color: #282c1b;
    border: 1px none black; /*color:#000000;*/
    -moz-border-radius: 8px 8px 0px 0px;
    -webkit-border-radius: 8px 8px 0px 0px;
    -opera-border-radius: 8px 8px 0px 0px;
    -khtml-border-radius: 8px 8px 0px 0px;
    border-radius: 8px 8px 0px 0px;
}

#projnav span a:hover, #projnav span a:active {
    background-color: #ffffff;

}



.input {
    border: 1px solid #006;
    background: #ffc;
}

.inputAmount {

    font-size: 48px;
    width: 3em;
    color: green;
    padding-left: 1px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    font-family: helvetica, arial, sans serif;
    padding-left: 1px;

}


.slider_back {
    background-color:#dcdcdc;
    color:#4C4C4C;
    font-variant:small-caps;
    margin:0;
    padding:0;
    border-radius: 5px 0 0 5px;
}

.slider_back p {
    margin-left:10px;
    font-weight:bolder;
    font-size:15px;
}

#slider {
    position:relative;
    width:940px; /* Change this to your images width */
    height:200px; /* Change this to your images height */
    background:url(/images/ajax-loader.gif) no-repeat 50% 50%;
}
#slider img {
    position:absolute;
    top:0px;
    left:0px;
    display:none;
}

#slider a {
    border:0;
    display:block;
}

.nivo-directionNav a {
    display:block;
    width:30px;
    height:30px;
    background:url(/images/arrows.png) no-repeat;
    text-indent:-9999px;
    border:0;
}
a.nivo-nextNav {
    background-position:-30px 0;
    right:15px;
}
a.nivo-prevNav {
    left:15px;
}

.card-metrics {
    list-style: none;
    display: block;
}

a:link {
    color: red;
    text-decoration: underline;
}

a:visited {
    color: red;
    text-decoration: underline;
}

a:hover {
    color: green;
    text-decoration: underline;
}

a:active {
    color: red;
    text-decoration: underline;
}

a.banner:link    { color:gray; text-decoration:none; }
a.banner:visited { color:gray; text-decoration:none; }
a.banner:hover   { color:gray; text-decoration:none; }
a.banner:active  { color:gray; text-decoration:none; }