<div class="left"><h1>wwd</h1></div>
<div class="right">
  <ul>
    <li>Welcome <%= current_admin.email%></li>
    <li><%= link_to "wwd", index_path %></li>
    <li class="last"><%= link_to 'logout', logout_path %></li>
  </ul>
</div>
