<div class="menu">
  <ul>
    <li class="first last"><a href="/admin" title='Dashboard'>Dashboard</a></li>
  </ul>
</div>
<div class="menu">
      <ul class="first">Projects
        <li>
          <%= link_to 'Articles', admin_posts_path %>
        </li>
      </ul>
</div>

<div class="menu">
  <ul class="first">Payments

  </ul>
</div>

<div class="menu">
  <ul>
  </ul>
</div>


<div class="menu">
      <ul class="first">UGC
      </ul>
</div>

<div class="menu">
  <ul class="first">Feedback
  <li>
  </li>
  </ul>
</div>

<div class="menu">
  <ul class="first">Settings
  <li>
  </li>
  </ul>
</div>



<div class="menu">
  <ul>
  </ul>
</div>


