<div class="grid_12" >
  <ul id="projnav" style="font-variant:small-caps;">
    <li>
      <%= link_to_unless_current(t('news'), posts_path) do
      link_to(t('news'), posts_path, :style=>"color:#fd039c;")
      end %>
    </li>
    <li>
      <%= link_to_unless_current(t('activities'), activities_site_path) do
      link_to(t('activities'), activities_site_path, :style=>"color:#fd039c;")
      end %>
    </li>
    <li>
      <%= link_to_unless_current(t('photos'), photos_site_path) do
      link_to(t('photos'), photos_site_path, :style=>"color:#fd039c;")
      end %>
    </li>
     <li>
      <%= link_to_unless_current(t('events'), events_site_path) do
      link_to(t('events'), events_site_path, :style=>"color:#fd039c;")
      end %>
    </li>
  </ul>
</div>

<div class="clear"></div>



